{% set url = current_uri %}
{% block head %}

   {{ attach_library( 'biopama_dashboards/pame' ) }}
   {{ attach_library( 'biopama_dashboards/biopama_dashboards_maps' ) }}


   <div id="header" class="header">
        <nav{{ navbar_attributes }}>
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
            </div>
            {% endif %}
        </nav>
   </div>

{% endblock %}

<body>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>


<header class="masthead text-left text-white">

  <div id="bkgd-linear" class="masthead-linear"></div>

  <div id="bkgd-img" class="masthead-img" style="display:none;"></div>

      <div class="masthead-content">

        <div class="row">

          <div class="col-lg-2 header-text">
            <div class="container landing_headers">
            <h5>PAME Dashboard</h5>
            <img src="{{ image_path }}divider_02.png"/>
                <ul class="list-group pame-links">
                  <li class="pame-menu-left">
                    <a href="/pame">
                      <div class="row">
                       <div class="col-4"><img src="{{ image_path }}pame/pame_home.png"/></div>
                       <div class="col-8">PAME Home</div>
                      </div>
                    </a>
                  </li>
                  <div class="contextual-region">
                        {{ contextual_links('entity.view.edit_form:view=biopama_dashboards_pame&display_id=block_3') }}
                        {{ drupal_view('biopama_dashboards_pame', 'block_3') }}
                  </div>
                </ul>
            </div>
          </div>
          <div class="col-lg-10 header-table-cards">
              <div class="header-table-wrap">
              <h1>Assessments</h1>
              <div id="data_source">
                <p>Data Source: <b><a class="btn btn-light" href="https://pame.protectedplanet.net/" target="_blank">Global Database on Protected Area Management Effectiveness (GD-PAME)</a></b></p>
              </div>

                  <div class="form-group">
                    <label for="assessment_tools">Tool</label>
                      <select class="form-control cql_filters" id="assessment_tools" param="pame_methodology">
                        <option value="%">All Methodologies</option>
                       </select>

                    <label for="assessment_year">Year</label>
                     <select class="form-control cql_filters" id="assessment_year" param="pame_year">
                       <option value="%">All Years</option>
                      </select>

                      <label for="assessment_region">Region</label>
                       <select class="form-control cql_filters" id="assessment_region" param="region">
                         <option value="%">All Regions</option>
                        </select>

                        <label for="assessment_country">Country</label>
                         <select class="form-control cql_filters" id="assessment_country" param="country_na">
                           <option value="%">All Countries</option>
                          </select>

                        <label for="assessment_pa_type">Type</label>
                         <select class="form-control cql_filters" id="assessment_pa_type" param="pa_type">
                           <option value="%">Not Set</option>
                          </select>

                        <button class="btn btn-info" type="button" id="reset_filters">Clear All</button>

                  </div>

              </div>
              <div id="pame_assessments_map"></div>
              <div id="spinner">
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
              </div>
              <!--
              <button onclick="dt_table = $('#table_assessments').DataTable();" class="btn btn-info">Filter</button>
              <button onclick="dt_table.destroy();" class="btn btn-info">Reset</button>
              -->
              <div id="pame_assessments_table">
                 <table class="table" id="table_assessments">
                 <thead></thead>
                 <tbody></tbody>
                 <tfoot></tfoot>
                 </table>
              </div>

          </div>

        </div>

  </div>
  <div class="wave-corner">
    <img src="{{ image_path }}color_wave.png"/>
  </div>
 </header>


<button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button>


<footer>
<div id="footer-biopama">
   <div class="row align-items-center"><div class="col-12 col-md-2 logo_f">
    <img src="{{ image_path }}PEN_Biopama_Logo_no_text_sm.png">
   </div>
   <div class="col-12 col-md-6 text_f"><div class="copyright_text">
     COPYRIGHT © BIOPAMA - ALL RIGHTS RESERVED<br>
    <div>
    <div role="navigation" aria-labelledby="block-footer-menu" id="block-footer">
   <h2 class="visually-hidden" id="block-footer-menu">Footer</h2>
   <a href="/terms-and-conditions" class="text_f copyright_text">Terms and Conditions</a>
   </div></div></div>
   <div class="details">
     This publication has been produced with support of the 11th EDF.
     The contents of this publication are the sole responsibility of IUCN
     and the European Commission’s Joint Research Centre and can in no way
     be taken to reflect the views of the European Union nor of the ACP Group of States.
  </div>
  </div>
  <div class="col-12 col-md-4 logos_f">
  <div class="color sep">
  <div class="c1"></div><div class="c2"></div><div class="c3"></div>
  <div class="c4"></div></div><ul class="logos_partners">
  <li><img src="{{ image_path }}acp_logo.png" alt="acp"></li>
  <li><img src="{{ image_path }}eu.jpg" alt="EU"></li>
  <li><img src="{{ image_path }}iucn.png" alt="IUCN"></li>
  <li><img src="{{ image_path }}EC.png" alt="EC">
  </li></ul></div></div>

</footer>

<div id="preload-images"></div>


</body>
