{% set url = current_uri %}
{% block head %}

   {{ attach_library( 'biopama_dashboards/biopama_dashboards' ) }}
   {{ attach_library( 'biopama_dashboards/pa_dashboard' ) }}

   <div id="header" class="header">
        <nav{{ navbar_attributes }}>
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
        </nav>
   </div>

{% endblock %}


<body>


<header class="masthead text-left text-white">

  <div id="bkgd-linear" class="masthead-linear"></div>
  <div id="bkgd-img" class="masthead-img" style="display:none;"></div>

      <div class="masthead-content">

        <div class="row">

          <div class="col-lg-4 header-text">
            <div class="container landing_headers">
            <img src="{{ image_path }}divider_02.png"/>

              <div class="contextual-region">
                {{ contextual_links('entity.view.edit_form:view=biopama_dashboards_landingpage&display_id=block_8') }}
                {{ drupal_view('biopama_dashboards_landingpage', 'block_8') }}
              </div>
            </div>
          </div>
          <div class="col-lg-8 header-table-cards"> 
              <div class="header-table-wrap">

              <div id="ACP-card" class="card">
               <div class="card-header">
                <div class="row">
                 <div class="col-sm-5"><h1>ACP Total Coverage</h1></div>
                 <div class="col-sm-7">
                 </div>
                </div>
				 <div class="row">
                    <div class="col-sm-6" id="ACP-pie-chart-t" style="height: 100%;min-height:200px;"></div>
                    <div class="col-sm-6" id="ACP-pie-chart-m" style="height: 100%;min-height:200px;"></div>
				 </div>
               </div>
			   
                <div class="card-body"></div>
              </div>
                <div id="globalk-tables">
                </div>
                <hr></hr>
                <h4>Data Sources</h4>
                <div id="data-sources"></div>

              </div>
          </div>

        </div>

  </div>
  <div class="wave-corner">
    <img src="{{ image_path }}color_wave.png"/>
  </div>
 </header>





<button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button>


<footer>
<div id="footer-biopama">
   <div class="row align-items-center"><div class="col-12 col-md-2 logo_f">
    <img src="{{ image_path }}PEN_Biopama_Logo_no_text_sm.png">
   </div>
   <div class="col-12 col-md-6 text_f"><div class="copyright_text">
     COPYRIGHT © BIOPAMA - ALL RIGHTS RESERVED<br>
    <div>
    <div role="navigation" aria-labelledby="block-footer-menu" id="block-footer">
   <h2 class="visually-hidden" id="block-footer-menu">Footer</h2>
   <a href="/terms-and-conditions" class="text_f copyright_text">Terms and Conditions</a>
   </div></div></div>
   <div class="details">
     This publication has been produced with support of the 11th EDF.
     The contents of this publication are the sole responsibility of IUCN
     and the European Commission’s Joint Research Centre and can in no way
     be taken to reflect the views of the European Union nor of the ACP Group of States.
  </div>
  </div>
  <div class="col-12 col-md-4 logos_f">
  <div class="color sep">
  <div class="c1"></div><div class="c2"></div><div class="c3"></div>
  <div class="c4"></div></div><ul class="logos_partners">
  <li><img src="{{ image_path }}acp_logo.png" alt="acp"></li>
  <li><img src="{{ image_path }}eu.jpg" alt="EU"></li>
  <li><img src="{{ image_path }}iucn.png" alt="IUCN"></li>
  <li><img src="{{ image_path }}EC.png" alt="EC">
  </li></ul></div></div>
</footer>

<div id="preload-images"></div>


</body>
