{% set url = current_uri %}
{{ attach_library( 'biopama_dashboards/biopama_dashboards' ) }}
   {{ attach_library( 'biopama_dashboards/pame_managements' ) }}
   {{ attach_library( 'biopama_dashboards/pame_resources' ) }}
   {{ attach_library( 'biopama_dashboards/biopama_dashboards_maps' ) }}

<header class="masthead text-left">

  <div id="bkgd-linear" class="masthead-linear"></div>

  <div id="bkgd-img" class="masthead-img" style="display:none;"></div>

      <div class="masthead-content">

        <div class="row">

          <div class="col-lg-2 header-text">
            <div class="container landing_headers">
            <h5>PAME Dashboard</h5>
            <img src="{{ image_path }}divider_02.png"/>
                <ul class="list-group pame-links">
                  <li class="pame-menu-left">
                    <a href="/BPMLP_page_pame">
                      <div class="row">
                       <div class="col-4"><img src="{{ image_path }}pame/pame_home.png"/></div>
                       <div class="col-8">PAME Home</div>
                      </div>
                    </a>
                  </li>
                  <div class="contextual-region">
                        {{ contextual_links('entity.view.edit_form:view=biopama_dashboards_pame&display_id=block_3') }}
                        {{ drupal_view('biopama_dashboards_pame', 'block_3') }}
                  </div>
                </ul>
            </div>
          </div>
          <div class="col-lg-10 header-table-cards">

             <div id="spinner">
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
                  <img src="{{ image_path }}spinner.gif" style="max-height:80px;"/>
              </div>
			  <h2 class="pame-resources-header-title">PAME Managements</h2>
				<p class="pame-resources-subtitle">Latest published Management Plan documents:</p>
				{{ drupal_block('views_exposed_filter_block:pame_management-block_2', wrapper=false) }}
				<div id="pame_assessments_map"></div>
			  
              {{ contextual_links('entity.view.edit_form:view=pame_management&display_id=block_2') }}
			  {{ drupal_view('pame_management', 'block_2') }} 

          </div>

        </div>

  </div>
  <div class="wave-corner">
    <img src="{{ image_path }}color_wave.png"/>
  </div>
 </header>


<button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button>

