{% set url = current_uri %}
{{ attach_library( 'biopama_dashboards/biopama_dashboards' ) }}
   {{ attach_library( 'biopama_dashboards/pame' ) }}
   {{ attach_library( 'biopama_dashboards/biopama_dashboards_maps' ) }}
   {{ attach_library( 'biopama_dashboards/pame_tools' ) }}


<header class="masthead text-left">

  <div id="bkgd-linear" class="masthead-linear"></div>

  <div id="bkgd-img" class="masthead-img" style="display:none;"></div>

      <div class="masthead-content">

        <div class="row">

          <div class="col-lg-2">
            <div class="container landing_headers">
            <h5>PAME Dashboard</h5>
            <img src="{{ image_path }}divider_02.png"/>
                <ul class="list-group pame-links">
                  <li class="pame-menu-left">
                    <a href="/BPMLP_page_pame">
                      <div class="row">
                       <div class="col-4"><img src="{{ image_path }}pame/pame_home.png"/></div>
                       <div class="col-8">PAME Home</div>
                      </div>
                    </a>
                  </li>
                  <div class="contextual-region">{{ title_suffix }}
                        {{ drupal_view('biopama_dashboards_pame', 'block_3') }}
                  </div>
                </ul>
            </div>
          </div>
          <div class="col-lg-10 header-table-cards pame-tools-page">
            <div class="header-table-wrap">
                <h2 class="pame-resources-header-title">Assessment Tools</h2>

                {% if user.hasPermission('administer nodes') %}
                  <div class="row">
                    <a href="/node/add/pame_assessment_tools"><button class="btn btn-info">+ Add Assessment Tool</button></a>
                  </div>
                {% endif %}

                <div class="contextual-region">{{ title_suffix }}
                  {{ drupal_view('pame_contents', 'block_1') }}
                </div>

            </div>


          </div>

        </div>

  </div>
  <div class="wave-corner">
    <img src="{{ image_path }}color_wave.png"/>
  </div>
 </header>


<button id="myBtn_scrollTop" title="Go to top"><i class="fas fa-arrow-up fa-2x"></i></button>

